language: node_js
node_js:
  - "6"
services:
  - mongodb
after_script:
  - npm run codeclimate
after_success:
  - bash <(curl -s https://codecov.io/bash)
notifications:
  slack:
    rooms:
      weirdunicorn:zYbooEy22vfBloHorKZV5XPE#development
    on_success: change
