language: node_js
node_js:
  - "6"
before_script:
  - npm run coverage
after_script:
  - npm run codeclimate
  - npm run bithound
notifications:
  slack:
    rooms:
      weirdunicorn:zYbooEy22vfBloHorKZV5XPE#development
    on_success: change
