.border{
	border: 1px solid lightgrey;
	border-radius: 10px;
	text-align: center;
}
.date{
	margin: -3px 0 10px 17px;
}
.mainD{
	background-color: lightgrey;
}
.player-img{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0px auto;
	background-color: green;
	border-radius: 10px;
}
.playerName{
	margin:5px auto;
	text-align: left;
}
.player-points{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0px auto;
	background-color: darkviolet;
	color:white;
	border-radius: 10px;
	vertical-align: top;
	line-height: 50px;	
}
.win{
	background-color: white;
	background-image: url(../images/crown.png);
	background-size: cover; 
}
.player-block:first-of-type{
	margin-left: 0px;
}
.player-block{
	display: inline-block;
	margin-left: 20px;
	padding: 5px 5px;
	background-color: white;
}
.button-div{
	margin: 10px 10px 10px 30px;
}
.game-panel input[type=checkbox] + div{
	max-height: 0px;
	overflow: hidden;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
}
.game-panel input[type=checkbox]:checked + div{
	max-height: 2400px;
}
.container{
	margin: 10px 0 10px 20px ;
}
.raz{
	text-align: center;
}
.container label:hover{
	background-color: darkgrey;
	border-color: darkgrey;
}
label[for="general"]{
	background-color: black;
	border-color: black;
}
label[for="war"]{
	background-color: red;
	border-color: red;
}
label[for="gold"]{
	background-color: gold;
	border-color: gold;
}
label[for="wonder"]{
	background-color: gray;
	border-color: gray;
}
label[for="culture"]{
	background-color: blue;
	border-color: blue;
}
label[for="trade"]{
	background-color: orange;
	border-color: orange;
}
label[for="guild"]{
	background-color: darkviolet;
	border-color: darkviolet;
}
label[for="sience"]{
	background-color: green;
	border-color: green;
}
.bor{
	border:1px solid black;
}
